/* Reset básico para eliminar estilos por defecto */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

/* Estilo para el contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el NavBar */
.NavBar {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.NavBar a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

/* Estilo para el cuerpo de la página */
.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movies .results {
  display: flex;
  flex-direction: column;
  /* Cambia a columna para que las películas estén una debajo de otra */
  gap: 10px;
  /* Espacio entre cada fila */
  padding: 20px;
  list-style: none;
  /* Elimina las viñetas de la lista */
}

.movies .results li {
  list-style-type: none;
  /* Asegura que no haya viñetas */
  margin: 0;
  /* Elimina márgenes */
  padding: 0;
  /* Elimina relleno */
}

/* Estilo para el componente Movie como fila */
.movie {
  display: flex;
  flex-direction: row;
  /* Configura los elementos de la película en una fila */
  align-items: center;
  /* Alinea los elementos verticalmente al centro */
  background-color: #e8f0fe;
  /* Fondo claro para separación visual */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: background-color 0.3s ease;
}

.movie:hover {
  background-color: #d0e4fd;
  /* Cambia ligeramente el fondo al pasar el mouse */
}

.movie h3 {
  margin: 0 10px 15px 0;
  /* Espacio alrededor del título */
  font-size: 1.2rem;
  flex: 1;
  /* Permite que el título ocupe el espacio restante */
}

.movie .details {
  /* movie_details */
  display: flex;
  flex-direction: column;
  /* Alinea los detalles en una columna */
  flex: 3;
  /* Toma más espacio que el título */
}

.movie .detail {
  margin-bottom: 10px;
  /* Espacio entre cada detalle */
}

.movie .detail span {
  font-weight: bold;
  /* Negrita para el título de cada detalle */
}

.details h3 {
  font-size: 150%;
  color: rgb(43, 145, 255);
}

/* Estilo para los enlaces */
.no-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.no-link:hover {
  text-decoration: underline;
}

/* Estilo para los enlaces de botones */
.editMovie,
.btnDeleteMovie {
  text-decoration: none; /* Elimina subrayado del enlace */
}

.buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones, ajusta según sea necesario */
}

/* Estilo base para los botones */
.btnEditMovie,
.btnDeleteMovie , .edit-movie-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 145, 255);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px; /* Ajusta el ancho según sea necesario */
  height: 40px; /* Ajusta la altura según sea necesario */
}
.back-edit-movie-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 145, 255);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.menu-home {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color del texto */
}

/* Estilo para el efecto hover en ambos botones */
.btnEditMovie:hover,
.btnDeleteMovie:hover , .edit-movie-button:hover, .back-edit-movie-button:hover{
  background-color: rgb(31, 109, 193);
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

}

/* Estilo para el contenedor de la página de la película */
.moviePage {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e8f0fe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Estilo para el título principal de la película */
.moviePage h1 {
  font-size: 2.5rem;
  color: #0047c2;
  /* Color del texto principal */
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para el contenedor de los detalles de la película */
.movieDetails {
  padding: 20px;
  background-color: #e8f0fe;
  /* Fondo blanco */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra el contenido horizontalmente */
}

.movieTrailer {
  padding: 20px;
  background-color: #e8f0fe;
  /* Fondo blanco */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Centra el contenido horizontalmente */
}

/* Estilo para el subtítulo "Details" */
.movieDetails h2 {
  font-size: 2rem;
  color: #007bff;
  /* Color del subtítulo */
  margin-bottom: 15px;
}

/* Estilo para el componente MovieDetails */
.moviePageMovie {
  padding: 15px;
  background-color: #e8f0fe;
  /* Fondo azul claro */
  border: 1px solid #ccc;
  /* Borde gris claro */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.moviePageMovie:hover {
  background-color: #d0e4fd;
  /* Fondo azul más oscuro al pasar el mouse */
}

/* Estilo para los detalles individuales dentro de MovieDetails */
.movie_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.movie_details div {
  display: block;
  margin-bottom: 10px;
}

.movie_details span {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
  /* Color del texto */
}

/* Estilo para el título del enlace al trailer */
.movie_details h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: rgb(43, 145, 255);
  /* Color azul para el enlace */
}

/* Estilo para enlaces */
.no-link {
  color: #007bff;
  /* Azul para los enlaces */
  text-decoration: none;
  cursor: pointer;
}

.no-link:hover {
  text-decoration: underline;
}

/* Estilo general para el formulario */
.editMovieMenu {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.editMovieMenu h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: rgb(43, 145, 255);
  text-align: center;
}

.editMovieMenu h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: rgb(43, 145, 255);
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff; /* Color del borde al enfocar */
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.2); /* Sombra al enfocar */
}

.form-group textarea {
  height: 100px;
  resize: vertical; /* Permite redimensionar verticalmente */
}

.editMovieMenu {
  max-width: 600px;
  margin: 0px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.Input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected-genres {
  margin-top: 15px;
}

.selected-genres ul {
  list-style-type: none;
  padding: 0;
}

.selected-genres li {
  margin-bottom: 5px;
  color: #333;
}

.selected-genres h3, .selected-genres p {
  margin-bottom: 15px;
  margin-top: 20px;
  color: #555;
}

.selected-genres button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.editMovieMenu select option {
  padding: 5px;
  background-color: #ffffff;
  color: #333;
}

.editMovieMenu select option:hover {
  background-color: #e6e6e6;
}

#submit-edit-movie {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones, ajusta según sea necesario */
}