{{page-title "EditMovie"}}
<h1>Edit Movie: {{@model.title}}</h1>
<div>
  <Input type="text">Title</Input>
</div>
<div>
  <Input type="text">Director</Input>
</div>
<div>
  <Input type="text">Year</Input>
</div>
<div>
  <Input type="text">Description</Input>
</div>
<div>
  <Input type="text">Rating</Input>
</div>