<div class="movies">
  <div class="tool-bar">
    <div class="search-bar">
      <input id="search-movie" type="text" placeholder="Search Movie..." value={{this.searchTerm}} {{on "input" this.updateSearchTerm}}/>
    </div>
    <div class="add-movie">
      <button class="add-movie-button" type="button" {{on "click" this.addMovie}}>Add Movie</button>
    </div>
  </div>
  <ul class="results">
    {{#each this.filteredMovies as |movie|}}
      <li><Movie @movie={{movie}}/></li>
    {{/each}}
  </ul>
</div>
