<div class="moviePage">
  <div id="back-edit-movie">
      <LinkTo @route="index" class="menu-home">
            <button class="back-edit-movie-button" type="back">Back</button>
    </LinkTo>
    </div>
  <h1>{{@model.title}}</h1>
  <div class="movieDetails">
    <h2>Details</h2>
    <MovieDetails
      @movieDetails={{@model}}
      class="moviePageMovie"
    />
    <div class = "buttons">
      <LinkTo @route="edit-movie" @model={{@model._id}} class="editMovie">
      <button class="btnEditMovie" type="button">Edit</button>
    </LinkTo>

    <button class="btnDeleteMovie" type="button">Delete</button>
      
    </div>
    

  </div>
</div>
